.App {
  text-align: center;
}
.loading-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}
.spacing {
  margin-bottom: 1vh;
}
.invalid {
  color: red;
}
.navBar {
  text-align: left;
}
.mainContainer {
  display: flex; /* Enable flex layout */
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Set to full viewport height */
}

.otherContainer {
  margin-top: 25vh; /* Pushes the container down */
}
.flex {
  display: flex;
}
.flex-2 {
  flex: 2;
}
.flex-4 {
  flex: 3;
}
.margin-right-small {
  margin-right: 5px;
}
.margin-left {
  margin-left: 5px;
}
.margin-all {
  margin: 20px;
}
.no-wrap {
  white-space: nowrap;
}
.text-grey {
  color: rgba(0, 0, 0, );
}
.text-bold {
  font-weight: bold;
}
.background {
  background-color: aqua;
}
.background2 {
  background-color: rgb(55, 255, 0);
}

.frank {
  text-align: center;
  min-height: 100px;
  max-width: 500px;
}