
.App {
  text-align: center;
}
.moveTitles {
  font-size: large;
  margin-bottom: 5px;
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
  caret-color: transparent;
}
.loading-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}
.spacing {
  margin-bottom: 1vh;
}
.invalid {
  color: red;
}
.navBar {
  text-align: left;
}
.mainContainer {
  display: flex; /* Enable flex layout */
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Set to full viewport height */
}

.otherContainer {
  margin-top: 25vh; /* Pushes the container down */
}
.flex {
  display: flex;
}
.autoMargin {
  margin-left: auto;
  margin-right: auto;
}
.flex-warp {
  display: flex;
  flex-wrap: wrap;
  min-width: 380px;
}
.flex-50 {
  /* text-align: left; */
  box-sizing: border-box;
  width: calc(50% - 10px); 
  margin-right: 5px;
  margin-left: 5px;  
}
.flex-centered {
  display: flex;
  justify-content: center;
}
.flex-2 {
  flex: 2;
}
.flex-4 {
  flex: 3;
}
.margin-right-small {
  margin-right: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-right-10 {
  margin-right: 10px
}
.margin-left-10 {
  margin-left: 10px
}
.margin-left {
  margin-left: 5px;
}
.margin-all {
  margin: 20px;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.no-wrap {
  white-space: nowrap;
}
.text-grey {
  color: rgba(0, 0, 0, );
}
.text-bold {
  font-weight: bold;
}
.background {
  background-color: aqua;
}
.background2 {
  background-color: rgb(55, 255, 0);
}

.container-description {
  min-height: 200px;
}

.input-intro {
  resize: none;
  min-height: 100px;
  min-width: 290px;
}
.collumn {
  /* border: 1px solid; */
  min-width: 370px;
}
.art-character {
  min-width: 200px;
  max-width: 250px
}


/* ******************************* GRID LAYOUT ******************************* */
.grid-container {
  display: grid;
  gap: 10px;
  margin: 10px;
}
.grid-top,
.grid-mid,
.grid-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid-top {
  height: 65px;
}
.grid-mid {
  height: 480px; 
}
.grid-bottom {
  height: 100px; 
}

.grid-1, 
.grid-2,  
.grid-3,  
.grid-4, 
.grid-5,
.grid-6,  
.grid-7,  
.grid-8,
.grid-9 {
  position: relative;
  min-width: 300px;
  border: solid 1px black;
}
/* ******************************* GRID 1 ******************************* */
.line1,
.line2,
.line3 {
  display: flex;
  position: absolute;
  left: 10px;
}
.line1 {
  top: 0px;
}
.line2 {
  top: 20px;
}
.line3 {
  top: 40px;
}
.level {
  display: flex;
  position: absolute;
  right: 10px;
  top: 30%;
}
/* ******************************* GRID 2 ******************************* */
/* ******************************* GRID 3 ******************************* */
/* ******************************* GRID 4 ******************************* */
.grid-4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 450px;
}
.Top, .Bottom {
  flex: 1; /* Takes up half the space each */
}
.Top {
  display: flex;
}
.Left{
  flex: 1; /* Takes up half the space within .Top */
}
.Right {
  flex: 1; /* Takes up the space within its parent container */
  display: flex; /* Enables flexbox on the container */
  justify-content: center; /* Centers children vertically if flex-direction is column */
  flex-direction: column; /* Stack children vertically */
}
.art-character {
  height: 300px;
}
.attribute-holder {
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Align items vertically in the center */
  margin-right: 10px;
}
.round {
  width: 40px;     /* or any other size */
  height: 40px;    /* should be same as width for a perfect circle */
  border-radius: 50%;
  border: solid black 1px;    /* optional, in case you don't want a border */
  background-color: #ffffff; /* or any other color */
  color: rgb(0, 0, 0);    /* text color */
  text-align: center;
  line-height: 40px; /* vertical alignment for single-line text */
  font-size: 16px;  /* optional, depending on your design */
  margin-right: 20px;
}
/* Adjustments to remove default styles on mobile devices (webkit) */
.round::-moz-focus-inner {
  border: 0;
}
.round:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.roll-button {
  margin-left: 20px;
}
.center-vertial {
  width: 185px;
}
.characterName,
.hunterType {
  font-weight: bold;
  font-size: large;
  margin-top: 4px;
}
.container-experience {
  margin-left: 70px;
}
.checkbox-medium {
  /* Option 1: Increase size directly */
  width: 15px; /* Adjust as needed */
  height: 15px; /* Adjust as needed */
  
  /* Option 2: Scale the element */
  transform: scale(1.3); /* Adjust scaling factor as needed */
}
.accent-green {
  accent-color: rgb(0, 144, 0);
}
.accent-red {
  accent-color: rgb(148, 0, 0);
}
.accent-black {
  accent-color: rgb(0, 0, 0);
}

/* ******************************* GRID 5 ******************************* */
.grid-5 {
  min-width: 380px;
}
/* ******************************* GRID 6 ******************************* */
.grid-6 {
  /* background-color: aqua; */
  /* Define the width and/or height as necessary */
  width: 100%; /* Example width */
  overflow: hidden; /* This will hide any overflow. Use 'auto' to add scrollbars if needed */
}

.description-box {
  margin: 10px;
  padding: 10px;
  height: 400px; /* Example height */
  border: 2px solid black;
  text-align: left;
  white-space: pre-wrap;
  max-width: 100%; /* Ensure the box does not grow beyond the width of .grid-6 */
  max-height: 100%; /* Ensure the box does not grow beyond the height of .grid-6 */
  overflow: auto; /* Add scrollbars inside .description-box if content overflows */
}
/* ******************************* GRID 7 ******************************* */

/* ******************************* GRID 8 ******************************* */

/* ******************************* GRID 9 ******************************* */