.App {
  text-align: center;
}
.loading-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}
.spacing {
  margin-bottom: 1vh;
}
.invalid {
  color: red;
}

.mainContainer {
  display: flex; /* Enable flex layout */
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Set to full viewport height */
}

.otherContainer {
  margin-top: 25vh; /* Pushes the container down */
}